@page "/home"

<PageTitle>Home</PageTitle>

<section id="about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <!-- another image can be inserted here -->
                <img src="https://artchive.ru/res/media/img/ox800/work/701/336980.jpg" alt="..." class="img-fluid" />
            </div>
            <div class="col">
                <h1>Кратко о проекте</h1>
                <p>Это проект по практке студента коллежжа Царицыно.</p>
                <p>Это впринципе всё.</p>
                <p>Вот вам Босх.</p>
                <button type="button" class="btn btn-dark btn-lg">Подробнее</button>
            </div>
        </div>
    </div>
</section>

<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Платформа для художников</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.youtube.com/watch?v=xvFZjo5PgG0">Рикролл</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Пользователи</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Приветсвуем всех<br>художников<br>и не только!</h1>
                <p>Эта платформа где художники могут выставлять свои произведения, а зрители могут просматривать, комментировать и покупать искусство!</p>
                <button type="button" class="btn btn-dark btn-lg">Начать!</button>
            </div>
            <div class="col">
                <img src="https://i.pinimg.com/736x/33/d4/89/33d489a376ee218af1485f1cc79468a0.jpg" alt="...">
            </div>
        </div>
        <div class="row cards">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <!-- here is where they add the ICON -->
                        <img src="https://i.pinimg.com/736x/f7/8a/99/f78a995f51ea2693ffdc43a0c6d80c97--hand-sculpture-wire-sculptures.jpg" alt="..." class="icon">
                        <h5 class="card-title">Ваше творчество в Ваших руках!</h5>
                        <p class="card-text">Вы можете создавать самые разные произведения искуства во всех возможных формах.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <!-- here is where they add the ICON -->
                        <img src="https://avatars.mds.yandex.net/i?id=b7c300212269e9cff114017a338b753b3cbc3b56-9683943-images-thumbs&n=13" alt="..." class="icon">
                        <h5 class="card-title">Не бойтесь проявить себя!</h5>
                        <p class="card-text">Будьте смелы в своих проявлениях творчества, но не забывайте о мере.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <!-- here is where they add the ICON -->
                        <img src="https://i.pinimg.com/736x/50/c2/fc/50c2fcbb9dd9f991345540b52833c0ea.jpg" alt="..." class="icon">
                        <h5 class="card-title">Найдите Себя!</h5>
                        <p class="card-text">Мы верим что творчество являестя отражением мировозрения автора и помогает найти себя как в своих так и своих работах.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<p>Текущая дата: @CurrentDate</p>
<p>Текущее время: @CurrentTime</p>

<section id="contact">
    <div class="container">
        <div class="row align-items-center projects">
            <div class="col">
                <h1>Я люблю творчество!</h1>
                <p>Счёт для пожертвований: 2202 2026 0266 1633.</p>
            </div>
        </div>
    </div>
</section>



@code {
    public class User
    {
        public int UserId { get; set; }
        public string Username { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
        public int? RoleId { get; set; }
    }
    public User[] result = new User[] { };

    string CurrentDate;
    string CurrentTime;

    protected override async Task OnInitializedAsync()
    {
        var date = DateTime.Now;
        CurrentDate = date.ToShortDateString();
        CurrentTime = date.ToShortTimeString();

        var client = new HttpClient();
        client.BaseAddress = new Uri("https://yanko-web-api-with-db.onrender.com/");

        result = await client.GetFromJsonAsync<User[]>("api/UsersController1");
        return;
    }
}